/* General setting */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}
.flex-end {
  display: flex;
  align-items: flex-end;
}
.small-feature-padding {
  padding: 0 0 20px 30px;
}
/* Header */
header {
  background: #171717;
  color: white;
}
.container {
  padding-top: 40px;
}
.top-nav {
  margin-top: 30px;
  width: 90vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social-icon i {
  margin-right: 5px;
}
.search-nav {
  display: flex;
  align-items: center;
}
.search-nav-icon {
  margin-left: 10px;
}
.logo {
  width: 70%;
}
.top-nav,
hr {
  margin-bottom: 30px;
}
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(75, 73, 73, 0.75),
    rgba(0, 0, 0, 0)
  );
}
nav,
.logo-div {
  text-align: center;
}
nav ul li {
  display: inline-block;
  margin: 0 20px 100px;
  color: #a4a4a4;
}
.active-nav {
  color: white;
}
.nav-featured {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: [first] 65% [second] 35% [third];
  grid-template-rows: [row-1-start] auto [row-1-end] auto [row-2];
  grid-template-areas:
    "big small-1"
    "big small-2";
}
.big-featured {
  grid-area: big;
  background: url(../img/thumbs/featured/featured-guitarman.jpg) no-repeat
    center;
  background-size: cover;
  height: 500px;
  display: flex;
  align-items: flex-end;
}
.big-featured-content {
  grid-column: first / second;
  grid-row: row-1-end / row-2;
  margin: 20px 40px;
}
.blue-button,
.green-button {
  display: inline-block;

  text-align: center;
  padding: 5px 30px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.blue-button {
  background: #01aef0;
}
.green-button {
  background: #68972d;
}

.big-featured h2,
.small-featured-content h3 {
  font-family: "Satisfy", cursive;
  font-size: 3em;
  margin-bottom: 20px;
}
.big-featured-avatar {
  border-radius: 50%;
  width: 40px;
}
.big-featured-avatar-bottom {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.big-featured-avatar-bottom * {
  margin: 0px 5px;
}
.small-featured-1 {
  grid-area: small-1;
  background: url(../img/thumbs/featured/featured-watch.jpg) no-repeat center;
  background-size: cover;
}
.small-featured-2 {
  grid-area: small-2;
  background: url(../img/thumbs/featured/featured-beetle.jpg) no-repeat center;
  background-size: cover;
}
.small-featured-content h3 {
  font-size: 2em;
}
/* Body Section */
.main-body {
  background: #f2f2f2;
  padding-bottom: 60px;
}
.container-body {
  width: 70vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: [first] 1fr [second] 1fr [third] 1fr [four];
  grid-template-rows: auto auto auto;
  grid-column-gap: 40px;
  padding-top: 40px;
}
img {
  max-width: 100%;
}
.container-body p {
  color: #868686;
}
.container-body h2 {
  margin-top: 5px;
  margin-bottom: 15px;
}
.col-1 {
  grid-column: first / second;
}
.body-article {
  background: white;
  padding-bottom: 20px;
  margin-bottom: 40px;
}
.article-tag {
  color: #095392;
  margin-top: 20px;
}
.icon-img {
  max-width: 10%;
}
.body-article-content {
  padding: 30px;
}
.article-quote {
  text-align: center;
  padding: 40px 40px 20px;
}

.pagination ul {
  list-style: none;
}
.pagination {
  grid-column: first/four;
  grid-row: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: 30px 0;
}
.pagination a {
  display: inline-flex;
  margin: 0 20px;
}
.pagination a {
  text-decoration: none;
  display: inherit;
  color: black;
}
a.page-selected {
  color: white;
  width: 30px;
  height: 30px;
  background-color: #151515;
  padding: 5px 10px;
}
a:hover {
  color: white;
  width: 30px;
  height: 30px;
  background-color: grey;
  padding: 5px 10px;
}
/* a:hover img#left-arrow:hover {
  background-color: lightgrey;
} */
.pagi-icon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: white;
  padding: 14px 12px;
}
.pagi-icon:hover {
  background-color: lightgrey;
  width: 40px;
  height: 40px;
  padding: 14px 12px;
}
