/* General setting */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

/* Header */
header {
  background: #171717;
  color: white;
}
.container {
  padding-top: 40px;
}
.top-nav {
  margin-top: 30px;
  width: 90vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-nav {
  display: flex;
  align-items: center;
}
.search-nav-icon {
  margin-left: 10px;
}
.logo {
  width: 70%;
}
.top-nav,
hr {
  margin-bottom: 30px;
}
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(75, 73, 73, 0.75),
    rgba(0, 0, 0, 0)
  );
}
nav,
.logo-div {
  text-align: center;
}
nav ul li {
  display: inline-block;
  margin: 0 20px 100px;
  color: #a4a4a4;
}
.active-nav {
  color: white;
}
.nav-featured {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: [first] 65% [second] 35% [third];
  grid-template-rows: [row-1-start] auto [row-1-end] auto [row-2];
  grid-template-areas:
    "big small-1"
    "big small-2";
}
.big-featured {
  grid-area: big;
  background: url(../img/thumbs/featured/featured-guitarman.jpg) no-repeat
    center;
  background-size: cover;
  height: 500px;
  display: flex;
  align-items: flex-end;
}
.big-featured-content {
  grid-column: first / second;
  grid-row: row-1-end / row-2;
  margin: 20px 40px;
}
.blue-button,
.green-button {
  display: inline-block;

  text-align: center;
  padding: 5px 30px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.blue-button {
  background: #01aef0;
}
.green-button {
  background: #68972d;
}

.big-featured h2,
.small-featured-content h3 {
  font-family: "Satisfy", cursive;
  font-size: 3em;
  margin-bottom: 20px;
}
.big-featured-avatar {
  border-radius: 50%;
  width: 40px;
}
.big-featured-avatar-bottom {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.big-featured-avatar-bottom * {
  margin: 0px 5px;
}
.small-featured-1 {
  grid-area: small-1;
  background: url(../img/thumbs/featured/featured-watch.jpg) no-repeat center;
  background-size: cover;
}
.small-featured-2 {
  grid-area: small-2;
  background: url(../img/thumbs/featured/featured-beetle.jpg) no-repeat center;
  background-size: cover;
}
.small-featured-content h3 {
  font-size: 2em;
}
